:root {
    --background:  #F5F5F5;
    --text-primary: #1A1A1A;
}

[data-theme='dark'] {
    --background: #1A1A1A;
    --text-primary: F5F5F5;
}

// Audio Container
.rhap_container {
    background: var(--background);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.25rem;
}
  
// Progress Bar Filled (Circle Indicator)
.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: #00D5FA;
}
  
// Volume Bar Indicator
.rhap_volume-indicator {
    background-color: #00D5FA;
}

// Time / Duration Text
.rhap_time {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-primary);
}