.rhap_container {
    background: #F5F5F5;
}
  
.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: #00D5FA !important;
}
  
.rhap_volume-indicator {
    background-color: #00D5FA !important;
}
